* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 600px;
    background-color: aquamarine;
  
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

h1 {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 5px;
}

#myInput {
    margin-left: 30px;
    width: 300px;
    height: 40px;

   
}
input::placeholder {
    font-size: 20px;
    opacity: 0.5;
}
button {
    margin-left: 5px;
    height: 40px;
    width: 50px;
    border: none;
    border-radius:5px ;
    cursor: pointer;
}
button i {
    font-size: 25px;
}

.list {
    margin-left: 30px;
    margin-bottom: 10px;
    background-color: blueviolet;
    height: 50px;
    width: 150px;
    
    align-items: center;
}